<div class="stat-block {{ variant }} {{ stat_classes }}">
  <div class="stat-block__stat {{ stat_number_classes }}">{{ stat|default('8:1') }}</div>
  <div class="stat-block__caption {{ stat_caption_classes }}">{{ stat_caption|default('Student to Faculty Ratio') }}</div>
</div>