{{ attach_library('pomona/directoryAZ') }}
{% set arg_0 = arg_0|replace('-', ' ') %}
<h2 class="font-serif text-4xl mb-30">{% if arg_0|lower in arg_1|lower %}{{ arg_1 }}{% else %}{{ arg_0|title }} {{ arg_1 }}{% endif %}</h2>
{% embed "@fractal/with-sidebar.twig" %}
  {% block with_sidebar_main %}
    <div class="flex flex-row flex-wrap max-w-full" id="az-directory">
    {% if not empty %}
      {% for row in rows %}
        <div class="lg:flex-1/2 pr-30" data-az-directory-letter="{{ row['#title']|trim }}">
          <div class="border-t-6 border-orange-100 mt-30 mb-75">
            <h2 class="overlap bg-orange p-10 font-serif italic leading-none text-white inline-block text-3xl">{{ row['#title'] }}</h2>
            <div class="pl-30">
              {{ row|without('#title') }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {{ empty }}
    {% endif %}
    </div>
  {% endblock %}
  {% block with_sidebar_aside %}
    <div class="box">
      <h3 class="font-sans uppercase text-xl mb-15">FILTER BY</h3>
      {{ exposed }}
    </div>
  {% endblock %}
{% endembed %}