<div class="page-contact bg-white border-t-6 py-35 px-20 mt-4 border-t-gray text-xl font-serif">
  <a href="http://www.example.com" class="btn btn-sm btn-lavender btn-uppercase btn-more">{{ link_title }}</span></a>
  <div class="text-2xl font-serif">{{ whom }}</div>
  <a class="ln" href="mailto:{{ email|default('email@example.com') }}">{{ email|default('email@example.com') }}</a><br />
  <a class="ln phone" href="tel:9095555555">{{ phone|default('(909) 555-5555') }}</a>
</div> 