{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = 'bg-gray-200 bg-pttrn-lt-grey mt-50 pt-20 pb-100' %}
{% embed '@fractal/box.twig' with { box_classes: classes } %}
  {% block box_header %}
    {{ title_prefix }}
    {% if label is not same as("") %}
      <div class="c-container">
        <{{ block_heading_level|default('h2') }}{{ title_attributes }} class="text-3xl my-20 lg:my-40 font-bold text-center italic text-orange font-serif">{{ label }}</{{ block_heading_level|default('h2') }}>
      </div>
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
  {% block box_content %}
  <div class="c-container">
    <div class="by-the-numbers by-the-numbers--row">{{ content.field_paragraphs }}</div>
  </div>
  {% endblock %}
{% endembed %}
