<div class="editorial font-sans mb-20 clearfix text-base md:text-lg md:flex">
  <div class="float-right ml-20 w-1/3 md:w-auto md:float-none md:flex-none md:ml-0">
    {{ content.field_media }}
  </div>
  <div class="text-brown-300 md:mx-40 w-full leading-loose">
    <a href="{{ url }}">{{ label }}</a><br />
    {{ content.field_position }}
    {{ content.field_location|injectclass("inline") }}
    {{ content.field_office_number|injectclass("inline") }}
    {{ content.field_e_mail }}
  </div>
  <div class="whitespace-no-wrap mt-10 md:mt-0">
    {{ content.field_office_phone }}
  </div>
</div>